<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Fragment</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header class="header header__loggedIn">
    <div class="container">
        <a class="header__logo" href="#">
            <img th:src="@{/images/ridematelogo.svg}">
            <h1>Ride Mate Finder</h1>
        </a>
        <form class="header__search" method="GET" action="@{/home}">
            <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>search</title>
                    <path
                            d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                    ></path>
                </svg>
                <input name="q" placeholder="Search for ride mate" />
            </label>
        </form>
        <nav class="header__menu">
            <a href="#">
                <img th:src="@{/images/avatar.svg}" />
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a th:href="@{/messages}">Login</a>
                        <a th:href="@{/logout}">Logout</a>
                        <a th:href="@{/profileForm}">Profile</a>
                    </div>
                </div>
            </a>
        </nav>
    </div>
</header>
</body>
</html>